@charset "UTF-8";
html {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 62.5%;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

h2 {
  font-weight: normal;
}

header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #header-logo {
  margin: 1.6rem auto 0 auto;
}

header .nav-menu ul li {
  list-style: none;
}

header .nav-menu ul li div #menu-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-menu ul li div #menu-header-nav li {
  width: 14vw;
  height: 6rem;
  text-align: center;
  background-color: #707070;
}

header .nav-menu ul li div #menu-header-nav li :hover {
  background-color: #595757;
}

header .nav-menu ul li div #menu-header-nav li a {
  display: block;
  font-size: 1.6rem;
  line-height: 6rem;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .nav-menu ul li div #menu-header-nav #menu-item-27 {
  background-color: #3071b8;
}

header .nav-menu ul li div #menu-header-nav #menu-item-28 {
  background-color: #003e8e;
}

.FV {
  height: 100vh;
}

.FV #visual {
  position: absolute;
  /* 背景を固定したい場合 absolute を fixed に変える */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.FV #visual .bx-wrapper {
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.FV #visual .bx-wrapper .bx-viewport .bxslider li {
  height: 100vh;
  background: center/cover no-repeat;
}

.FV #visual .bx-wrapper .bx-controls .bx-pager {
  bottom: 24%;
  width: 22%;
}

.FV #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #f3f3f3;
}

.FV #visual .bx-wrapper .bx-controls .bx-pager .bx-pager-item .active {
  background-color: #003e8e;
}

.FV #contents {
  position: absolute;
  top: 32%;
  left: 8%;
}

.management-policy {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4vw 8vw 10rem;
      grid-template-rows: 4vw 8vw 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vw;
  padding-left: 15.2rem;
  background: url("../images/management-policy.png") no-repeat;
  background-size: 100vw auto;
}

.management-policy .base-policy {
  width: 16.5rem;
  height: 3.8rem;
  margin-top: 8rem;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03px;
  background: #b5b5b6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.management-policy h2 {
  margin-top: 4rem;
  font-size: 3.2rem;
  font-weight: bold;
  color: #003e8e;
}

.management-policy p {
  max-width: 32rem;
  margin-top: 3.2vw;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}

.quolity-policy {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6vw 10vw 10rem;
      grid-template-rows: 6vw 10vw 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40vw;
  padding-left: 62vw;
  background: url("../images/quolity-policy.png") no-repeat;
  background-size: 100vw auto;
}

.quolity-policy .base-policy {
  width: 16.5rem;
  height: 3.8rem;
  margin-top: 12rem;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03px;
  background: #b5b5b6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.quolity-policy h2 {
  margin-top: 2rem;
  font-size: 3.2rem;
  font-weight: bold;
  color: #003e8e;
}

.quolity-policy p {
  max-width: 32rem;
  margin-top: 3.2vw;
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: 0.01rem;
}

.works {
  height: 60rem;
  padding: 0 6.2rem;
  background-color: #eeefef;
}

.works h2 {
  width: 37.8rem;
  height: 7.6rem;
  font-size: 3.6rem;
  line-height: 7.6rem;
  color: #fff;
  text-align: center;
  background-color: #003e8e;
}

.works p {
  margin-top: 2.4rem;
  font-size: 1.6rem;
}

.works .article-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2.4rem;
}

.works .article-list-container .__item .post-image img {
  width: 100%;
  height: auto;
}

.works .article-list-container .__item .post-title {
  margin-top: 2.4rem;
}

.works .article-list-container .__item .post-title h3 {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: left;
}

.works .detail {
  display: block;
  width: 24.8rem;
  height: 4.8rem;
  margin: 6.4rem auto;
  font-size: 1.2rem;
  line-height: 4.8rem;
  color: #000;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10rem;
}

.reqruit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 102rem;
  height: 28.4rem;
  margin: auto;
  margin-top: -8rem;
}

.reqruit .__left {
  width: 51rem;
  padding-top: 4.5rem;
  padding-left: 3.8rem;
  background-color: #3071b8;
}

.reqruit .__left h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #fff;
}

.reqruit .__left p {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff;
}

.reqruit .__right {
  position: relative;
  width: 51rem;
  background: url("../images/FV4.png") no-repeat;
  background-size: cover;
}

.reqruit .__right a {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: block;
  width: 32.6rem;
  height: 6rem;
  font-size: 2.4rem;
  line-height: 6rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #003e8e;
}

footer {
  position: relative;
  height: 24rem;
  padding: 4.8rem 10%;
  margin-top: 12rem;
  background-color: #eeefef;
}

footer .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-contents .__left {
  width: 40%;
}

footer .footer-contents .__left h2 {
  font-size: 1.6rem;
}

footer .footer-contents .__left p {
  font-size: 1.4rem;
}

footer .footer-contents .__right {
  width: 60%;
}

footer .footer-contents .__right ul li {
  list-style: none;
}

footer .footer-contents .__right ul li div #menu-footer-nav-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-contents .__right ul li div #menu-footer-nav-1 li {
  text-align: center;
}

footer .footer-contents .__right ul li div #menu-footer-nav-1 li a {
  font-size: 1.4rem;
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer nav {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 6rem;
  background-color: #c9c9c9;
}

footer nav .__left {
  margin-left: 10%;
}

footer nav .__left p {
  line-height: 6rem;
}

footer nav .__right {
  margin-right: 10%;
  margin-left: auto;
}

footer nav .__right ul li {
  list-style: none;
}

footer nav .__right ul li div #menu-footer-nav-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer nav .__right ul li div #menu-footer-nav-2 li {
  width: 14vw;
  height: 6rem;
  text-align: center;
}

footer nav .__right ul li div #menu-footer-nav-2 li :hover {
  background-color: #595757;
}

footer nav .__right ul li div #menu-footer-nav-2 li a {
  display: block;
  font-size: 1.6rem;
  line-height: 6rem;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer nav .__right ul li div #menu-footer-nav-2 #menu-item-43 {
  background-color: #3071b8;
}

footer nav .__right ul li div #menu-footer-nav-2 #menu-item-42 {
  background-color: #003e8e;
}

#scroll-to-top {
  position: fixed;
  right: 5rem;
  bottom: 8.6rem;
  z-index: 2;
  width: 8rem;
  height: 8rem;
  color: #fff;
  background: #000;
  opacity: 0.4;
}

#scroll-to-top .material-icons {
  font-size: 4.8rem;
}

.sp {
  display: none;
}

@media screen and (max-width: 1024px) {
  .sp {
    display: block;
  }
  main {
    display: none;
  }
  header {
    display: none !important;
  }
}
/*# sourceMappingURL=stylesheet.css.map */